.imagesContainer{
   display: flex;   
   margin-top: 5rem;
   align-self: center;   

   >div{      
      max-height:400px;
      max-width:400px;      

      @media (max-width: 1024px)
      {
         max-height:300px;
         max-width:300px;      
      }

      @media (max-width: 768px)
      {
         max-height:200px;
         max-width:200px;      
      }
   }
}
