.imagesContainer{
   display: flex;   
   margin-top: 5rem;
   align-self: center;   

   >div{      
      max-height:350px;
      max-width:350px;      

      @media (max-width: 1280px)
      {
         max-height:200px;
         max-width:200px;      
      }


      @media (max-width: 768px)
      {
         max-height:150px;
         max-width:150px;      
      }
   }
}
