$primary : #DA3659;
$secondary : #5D3BA2;
$text-primary : #444;
$text-secondary : #E0DAED;
$highlight : #ffbd00;
$line : #aaa;
$text-tertiary:#757575;
$background : #dbdcdd;
$background-secondary : #c9c9c9;

$black : #000