  @import '../styles/colors.scss';

.menu{
   display: flex;
   height: 7vh;
   justify-content: flex-end;
   align-items: center;
   margin: 0 100px;
   
   li{
      list-style: none;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      gap: 20px;
   }
}

.header{
   height: 18rem; 
   width: 100%;   
   background-color: $secondary;
   position: relative; 
}   


.main{
   display: grid;
   grid-template-columns: 5fr 2fr 5fr;
   grid-template-areas: "l c r";
   grid-template-rows: 1fr;   
   margin: 5vh 15vw;   
   justify-content: center;
   min-width: 400px;

   

   div, section{
      display: flex;
      flex-direction: column;
   }

   .containerLeft{            
      margin-top: 8vh;            
      grid-area: l;      
      width: 500px;

      @media (max-width: 1440px)
      {
         width: 450px;
      }
      @media (max-width: 1280px)
      {
         width: 300px;
      }
      @media (max-width: 768px)
      {
         width: 200px;
      }



   }

   .containerCenter{
      margin: 20vh 4vw;      
      grid-area: c;
      align-items: center;      
   }

   .containerRight{
      margin-top: 8vh;            
      grid-area: r;
      width: 100%;
      width: 500px;

      @media (max-width: 1440px)
      {
         width: 450px;
      }
      @media (max-width: 1280px)
      {
         width: 300px;
      }
      @media (max-width: 768px)
      {
         width: 200px;
      }

      

   }
}

.footer{   
   width: 100%;      
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows: 2fr 1fr;
   grid-template-areas: "l1 m1 r1"
                        "l2 l2 l2" ;
   background-color: $highlight;

   >section:nth-child(1){
      grid-area: m1;
      margin: 60px 0;
      
   }

   >section:nth-child(2){
      background-color: $background;
      grid-area: l2;
      
   }

}

