@import '../../styles/colors.scss';


.profile {
   display: flex;
   grid-area: prof;
   flex-direction: column;   
   height: 100%;
   background-color: $secondary;
}

.main_container{
   display: grid;   
   grid-template-columns: 300px auto 200px;
   grid-template-rows: auto;
   grid-template-areas: "prof main menu" ;
}

.menu{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;   
   grid-area: menu;
   width: 100%;
   height: 100%;   
   padding: 50px 0 0;
}


.main{
   grid-area: main;
   width: 100%;
   height: 100%;
   padding: 50px ;

   .topic{
      color:$text-tertiary;
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      font-weight: 400;
   }

   .topic_description{
      color:$black;
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;

   }

   .experiences{


      margin-top: 80px;
      
      >div{
         display: flex;
         //margin-top: 80px;
      }
   }


}

.time{
   grid-area: time;   
}


