  @import '../styles/colors.scss';

.header{
   height: 18rem; 
   width: 100%;
   margin-top: 7vh;
   background-color: $secondary;
   position: relative; 
}   


.main{
   display: grid;
   grid-template-columns: 5fr 2fr 5fr;
   grid-template-areas: "l c r";
   grid-template-rows: 1fr;   
   margin: 5vh 0;   
   justify-content: center;

   div, section{
      display: flex;
      flex-direction: column;
   }

   .containerLeft{            
      margin-top: 8vh;            
      grid-area: l;
      align-items: flex-end;      
      width: 100%;
   }

   .containerCenter{
      margin: 20vh 6vw;      
      grid-area: c;
   }

   .containerRight{
      margin-top: 8vh;            
      grid-area: r;
      align-items: flex-start;     
   }
}

.footer{
   height: 600px;
   width: 100%;      
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows: 2fr 1fr;
   grid-template-areas: "l1 m1 r1"
                        "l2 l2 l2" ;
   background-color: $highlight;

   section:nth-child(1){
      grid-area: m1;
      
   }

   section:nth-child(2){
      background-color: $background;
      grid-area: l2;
      
   }

}

