 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
 @import './colors';

.header{
   height: 18rem; 
   width: 100%;
   margin-top: 7vh;
   background-color: $secondary;
   position: relative; 
}   


.main{
   display: grid;
   grid-template-columns: 5fr 2fr 5fr;
   grid-template-areas: "l c r";
   grid-template-rows: 1fr;   
   margin: 5vh 0;   
   justify-content: center;

   div{
      display: flex;
      flex-direction: column;
      //border: 1px solid #FECD19;      
   }

   .containerLeft{            
      margin-top: 8vh;            
      grid-area: l;
      align-items: flex-end;      
      width: 100%;
   }

   .containerCenter{
      margin: 20vh 6vw;      
      grid-area: c;
   }

   .containerRight{
      margin-top: 8vh;            
      grid-area: r;
      align-items: flex-start;     
   }
}